Package: com.compilingentropy.fuzzycactus
Name: Fuzzycactus
Version: 2.1.3-1
Description: Automated MobileSafari Fuzzer
	<html>
	<div align="left">
	<p>A tool which automates and simplifies the on-device fuzzing of MobileSafari.
	<p>How it works: This tool can turn anyone's freshly jailbroken device into a fuzzing machine in minutes. All the setup is handled for you.
	<br>
	Usage:
	<p>fuzzycactus [action] [file] [options]
	<p>fuzzycactus [start/stop/watch/help] [./file.mov] [-s] [-t 11] [-r 0.0001:0.001] [-k]
	<p>~$ fuzzycactus start ./file.mov
	<p>~$ fuzzycactus stop
	<p>~$ fuzzycactus watch
	<p>~$ fuzzycactus help
	<br>
	The working directory for this tool is /private/var/fuzzycactus/, you can see your results and crashes in there.
	<p>Start and stop the script over ssh (rather than mobileterminal) to avoid confusing the device as it does its work.
	<p>Once the script is started you can safely disconnect.
	<br>
	Always remember: Before you begin fuzzing, go to 'Settings' > 'General' > 'About' > 'Diagnostics & Usage' and check the "Don't Send" option.
	<p>Otherwise, all your hard work will go to Apple and you will be sad. =(
	<br>
	Read more about how this package works, and see the source code on <a href="http://github.com/compilingEntropy/fuzzycactus">GitHub</a>.
	<p>Report bugs or ask questions to me on twitter <a href="http://twitter.com/compiledEntropy">@compiledEntropy</a>
	<br>
	<br>
	Changelog:
	<p>2.1.3
	<p>-Fixed crashtype detection: Apple decided it would be fun to put 'com.apple.whatever' in front of crash filenames in ios8 sometimes
	<p>-Also made the apt dependency installer less prompty
	<br>
	<p>2.1.2
	<p>-Fixes crash pairing again, not my fault this time (see below)
	<p>-This release includes a workaround for what appears to be a race condition between the creation of the crash files, and the population of their contents. Sometimes we would try to read from the file in the gap. I have not observed this bug on iOS < 8. (When I wrote this tool to find bugs, this is not what I intended ;) )
	<br>
	<p>2.1.1
	<p>-iOS 8 support
	<p>-arm64 support
	<p>-I don the Hat of Reduced Dependencies for +2 portability
	<br>
	<p>2.1
	<p>-iOS 7.1 crash files (.ips) now supported
	<p>-Fixed issue where 'stop' action wouldn't work sometimes
	<p>-Warns if user is running iOS7 and screen is locked, unlocking automatically is borked in iOS7
	<p>-Better at finding MobileSafari's location on iOS7
	<p>-Better handling of config file
	<p>-Better at getting major system version
	<p>-Clears more cache/cookies from MobileSafari when resetting
	<p>-Much more accurate installation of missing dependencies
	<p>-More accurate naming of directories in results
	<p>-Kpanics are no longer in their own directory, are now a crash type
	<p>-LowBatteryLog and ResetCounter crashlogs are no longer kept
	<p>-Organized code, small improvements
	<br>
	2.0.7
	<p>-Fixed an issue where sometimes the tabs in MobileSafari wouldn't be cleared properly
	<p>-Faster startup for people running iOS6
	<p>-Fixed a problem where packages would be marked as 'manually installed', which broke 'apt-get autoremove' & friends
	<p>-Cleaner output when fuzzing ends
	<br>
	2.0.6
	<p>-Removed dependency on safariresetter
	<p>-Fine-tuned slowdown timing
	<br>
	2.0.5
	<p>-Fixed logging bug
	<p>-Fixed bug where the type of crash wasn't properly found if the crash was a panic
	<p>-Fixed really weird bug where having 'slowdown' turned on would eventually cause every file loaded to crash
	<p>-Made slowdown slightly faster
	<p>-Fixed an issue where sometimes resuming after a panic would fail entirely
	<p>-Fixed an issue where resuming after a panic would load the file which caused the panic again, causing a bootloop
	<p>-Minor UI improvements
	<br>
	2.0.4
	<p>-Fix log-file truncation after reboot
	<br>
	2.0.3
	<p>-Fixed crash detection
	<p>-Fixed duplicate crash issue
	<br>
	2.0.2
	<p>-Minor bugfixes
	<br>
	2.0.1
	<p>-Lets you know when using non-default options
	<p>-Significant speed improvements on startup
	<p>-Returns the number of crashes so far when attaching with 'watch'
	<br>
	2.0
	<p>-Consolidated scripts to one file
	<p>-Crashcleans in realtime as it fuzzes
	<p>-Auto-removes files that didn't cause crashes
	<p>-Added the '-k' option, allowing you to resume fuzzing after a kernel panic
	<p>-Completely re-worked logic
	<p>-Removed several hundred lines of duplicate code
	<p>-Fixed 'stop' so that it now works (was previously broken)
	<p>-Made 'watch' actually consistent
	<p>-Saves most recently used settings in config file for easy resuming
	<p>-Reads previous seed, no more 'skipping..' forever
	<p>-Better handling of file extensions
	<p>-Process management that is actually real
	<p>-Better internal handling of errors for a smoother ride
	<p>-Speed and memory improvements
	<p>-Help text now makes so much more sense
	<p>-Better
	<br>
	1.0.7
	<p>-Fixed directory naming
	<p>-Fixed pairing algorithm
	<p>-Fixed hangs in crashclean
	<p>-Fixed '*' appender
	<p>-Fixed 'watch' to count processes better
	<br>
	1.0.6
	<p>-Added 'watch' command to allow you to view current session
	<p>-Added '-r' option to allow users to specify their own mutation percentages
	<p>-Updated the '-t' regex to allow decimal time values
	</div>
	</html>
Section: cmd-tool
Depends: firmware (>= 6.0),com.innoying.sbutils,bc,lighttpd,adv-cmds,curl,wget,coreutils
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: compilingEntropy
dev: compilingEntropy
Homepage: http://twitter.com/compiledEntropy
Depiction: 
Maintainer: 
Icon: 
